In [ ]:
import pandas as pd

In [52]:
df = pd.read_csv("buy_computer_data.csv")
df

    income student credit_rating buys_computer   age_group
0     high      no          fair            no  Very Young
1     high      no     excellent            no  Very Young
2     high      no          fair           yes       Young
3   medium      no          fair           yes      Senior
4      low     yes          fair           yes      Senior
5      low     yes     excellent            no      Senior
6      low     yes     excellent           yes       Young
7   medium      no          fair            no  Very Young
8      low     yes          fair           yes  Very Young
9   medium     yes          fair           yes      Senior
10  medium     yes     excellent           yes  Very Young
11  medium      no     excellent           yes       Young
12    high     yes          fair           yes       Young
13  medium      no     excellent            no      Senior

In [53]:
df.income.unique().size

for i in df.columns:
    display(i, df[i].unique().size, df[i].unique().tolist())

'income'

3

['high', 'medium', 'low']

'student'

2

['no', 'yes']

'credit_rating'

2

['fair', 'excellent']

'buys_computer'

2

['no', 'yes']

'age_group'

3

['Very Young', 'Young', 'Senior']

In [54]:

target_variable = "buys_computer"
# if target_variable in df.columns:
#     df[target_variable] = df[target_variable].str.lower()
#     if  sorted(df[target_variable].unique()) == ["no", "yes"]:
num_target_variable = df[target_variable].size

yes_count = sum(df[target_variable] == "yes")
no_count = sum(df[target_variable] == "no")
target_variable_Percentage_Yes = yes_count / num_target_variable
target_variable_Percent_No = no_count  / num_target_variable
target_variable_Percent_No

0.35714285714285715

In [56]:
model = {"yes":{},"no":{} ,"target_variable_Percentage_Yes": yes_count / num_target_variable, "target_variable_Percent_No": no_count  / num_target_variable}

for category in df:
    if category == target_variable:
        continue 
    
    model["yes"][category] = {}
    model["no"][category]= {}
    
    k = df[category].nunique()
    
    for parameter in df[category].unique():
        df_parameter: pd.Series = df[category] == parameter
        model["yes"][category][parameter] = (sum((df_parameter) &  (df[target_variable] == "yes")) ) / (yes_count)
        model["no"][category][parameter] = (sum((df_parameter) &  (df[target_variable] == "no")) ) / (no_count )

model

{'yes': {'income': {'high': 0.2222222222222222,
   'medium': 0.4444444444444444,
   'low': 0.3333333333333333},
  'student': {'no': 0.3333333333333333, 'yes': 0.6666666666666666},
  'credit_rating': {'fair': 0.6666666666666666,
   'excellent': 0.3333333333333333},
  'age_group': {'Very Young': 0.2222222222222222,
   'Young': 0.4444444444444444,
   'Senior': 0.3333333333333333}},
 'no': {'income': {'high': 0.4, 'medium': 0.4, 'low': 0.2},
  'student': {'no': 0.8, 'yes': 0.2},
  'credit_rating': {'fair': 0.4, 'excellent': 0.6},
  'age_group': {'Very Young': 0.6, 'Young': 0.0, 'Senior': 0.4}},
 'target_variable_Percentage_Yes': 0.6428571428571429,
 'target_variable_Percent_No': 0.35714285714285715}

In [ ]:

# buys_computer	yes	
yes = 1
no = 1
p = {"income":"high","student":"no", "credit_rating":"fair", "age_group":"Very Young"} 
for category in p:
    yes *= model["yes"][category][p[category]]
    no *= model["no"][category][p[category]]
yes *= target_variable_Percentage_Yes
no *= target_variable_Percent_No
display(yes, no)
r = "yes" if yes > no else "no"
r

In [ ]:
a = { "cap-shape", "cap-surface", "cap-color", "bruises", "odor",
    "gill-attachment", "gill-spacing", "gill-size", "gill-color",
    "stalk-shape", "stalk-root", "stalk-surface-above-ring", "stalk-surface-below-ring",
    "stalk-color-above-ring", "stalk-color-below-ring", "veil-type", "veil-color",
    "ring-number", "ring-type", "spore-print-color", "population", "habitat"

b =  ['x','y','w','t','p',"f","c","n","n",'e',"e","s",'s',"w","w","p","w","o","p","n","s","u"]
z = pd.Series(data=a, index=b)
z

In [ ]:
keys = [
    "cap-shape", "cap-surface", "cap-color", "bruises", "odor",
    "gill-attachment", "gill-spacing", "gill-size", "gill-color",
    "stalk-shape", "stalk-root", "stalk-surface-above-ring", "stalk-surface-below-ring",
    "stalk-color-above-ring", "stalk-color-below-ring", "veil-type", "veil-color",
    "ring-number", "ring-type", "spore-print-color", "population", "habitat"
]

values = [
    "x", "s", "n", "t", "p", "f", "c", "n", "k", "e",
    "e", "s", "s", "w", "w", "p", "w", "o", "p", "k", "s", "u"
]

# יצירת המילון
result_dict = dict(zip(keys, values))

# הדפסה לבדיקה
print(result_dict)

In [ ]:
df = pd.read_csv("agaricus-lepiota.csv")

In [ ]:

for i in df.index:
    print(df.iloc[i].to_dict())
    # print(df.iloc[i,:].to_list())

In [ ]:
df.columns = ['e;mv;pdmnv', 'xlkdnvdkd', 'y', 'y', 't', 'l', 'f', 'c', 'b', 'g', 'e', 'c', 's', 's', 'w', 'w', 'p', 'w', 'o', 'p', 'n', 'n', 'g']
df.head()

In [ ]:

df['target'] = df.pop('target')

In [ ]:
df.shape[0] * 0

8123

,e;mv;pdmnv,y,y,t,l,f,c,b,g,e,...,w,w,p,w,o,p,n,n,g,xlkdnvdkd
2030,e,s,n,f,n,f,w,b,h,t,...,w,w,p,w,o,e,n,s,g,f
2031,e,f,e,t,n,f,c,b,w,t,...,p,p,p,w,o,p,k,y,d,x
2032,e,y,n,t,n,f,c,b,p,t,...,g,g,p,w,o,p,k,y,d,f
2033,e,y,g,t,n,f,c,b,u,t,...,p,g,p,w,o,p,k,v,d,x
2034,e,s,g,f,n,f,w,b,p,t,...,w,w,p,w,o,e,n,a,g,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8118,e,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,b,c,l,k
8119,e,s,n,f,n,a,c,b,y,e,...,o,o,p,n,o,p,b,v,l,x
8120,e,s,n,f,n,a,c,b,n,e,...,o,o,p,o,o,p,b,c,l,f
8121,p,y,n,f,y,f,c,n,b,t,...,w,w,p,w,o,e,w,v,l,k
8122,e,s,n,f,n,a,c,b,y,e,...,o,o,p,o,o,p,o,c,l,x

In [43]:
l ={"s":1}
if l:
    display("kk")

'kk'

In [47]:
df["e;mv;pdmnv"].unique()[0]

'e'

In [48]:
a = {
    "yes": {
        "income": {
            "high": 0.25,
            "medium": 0.4166666666666667,
            "low": 0.3333333333333333
        },
        "student": {
            "no": 0.36363636363636365,
            "yes": 0.6363636363636364
        },
        "credit_rating": {
            "fair": 0.6363636363636364,
            "excellent": 0.36363636363636365
        },
        "age_group": {
            "Very Young": 0.25,
            "Young": 0.4166666666666667,
            "Senior": 0.3333333333333333
        }
    },
    "no": {
        "income": {
            "high": 0.375,
            "medium": 0.375,
            "low": 0.25
        },
        "student": {
            "no": 0.7142857142857143,
            "yes": 0.2857142857142857
        },
        "credit_rating": {
            "fair": 0.42857142857142855,
            "excellent": 0.5714285714285714
        },
        "age_group": {
            "Very Young": 0.5,
            "Young": 0.125,
            "Senior": 0.375
        }
    },
    "target_variable_Percentage_Yes": 0.6428571428571429,
    "target_variable_Percent_No": 0.35714285714285715
}

In [ ]:
a

KeyError: 0