In [ ]:
import pandas as pd

In [9]:
df = pd.read_csv("..\\Files_csv\\buy_computer_data.csv")
df

    income student credit_rating buys_computer   age_group
0     high      no          fair            no  Very Young
1     high      no     excellent            no  Very Young
2     high      no          fair           yes       Young
3   medium      no          fair           yes      Senior
4      low     yes          fair           yes      Senior
5      low     yes     excellent            no      Senior
6      low     yes     excellent           yes       Young
7   medium      no          fair            no  Very Young
8      low     yes          fair           yes  Very Young
9   medium     yes          fair           yes      Senior
10  medium     yes     excellent           yes  Very Young
11  medium      no     excellent           yes       Young
12    high     yes          fair           yes       Young
13  medium      no     excellent            no      Senior

In [12]:
list_target_variable = df["age_group"].unique()

list_target_variable

array(['Very Young', 'Young', 'Senior'], dtype=object)

In [ ]:
df.income.unique().size

for i in df.columns:
    display(i, df[i].unique().size, df[i].unique().tolist())

In [ ]:

target_variable = "buys_computer"
# if target_variable in df.columns:
#     df[target_variable] = df[target_variable].str.lower()
#     if  sorted(df[target_variable].unique()) == ["no", "yes"]:
num_target_variable = df[target_variable].size

yes_count = sum(df[target_variable] == "yes")
no_count = sum(df[target_variable] == "no")
target_variable_Percentage_Yes = yes_count / num_target_variable
target_variable_Percent_No = no_count  / num_target_variable
target_variable_Percent_No

In [ ]:
model = {"yes":{},"no":{} ,"target_variable_Percentage_Yes": yes_count / num_target_variable, "target_variable_Percent_No": no_count  / num_target_variable}

for category in df:
    if category == target_variable:
        continue 
    
    model["yes"][category] = {}
    model["no"][category]= {}
    
    k = df[category].nunique()
    
    for parameter in df[category].unique():
        df_parameter: pd.Series = df[category] == parameter
        model["yes"][category][parameter] = (sum((df_parameter) &  (df[target_variable] == "yes")) ) / (yes_count)
        model["no"][category][parameter] = (sum((df_parameter) &  (df[target_variable] == "no")) ) / (no_count )

model

In [ ]:

# buys_computer	yes	
yes = 1
no = 1
p = {"income":"high","student":"no", "credit_rating":"fair", "age_group":"Very Young"} 
for category in p:
    yes *= model["yes"][category][p[category]]
    no *= model["no"][category][p[category]]
yes *= target_variable_Percentage_Yes
no *= target_variable_Percent_No
display(yes, no)
r = "yes" if yes > no else "no"
r